
ontologyTitle=SSNO: A simple Standard Name Ontology
ontologyPrefix=ssno
ontologyNamespaceURI=https://matthiasprobst.github.io/ssno
ontologyName=SSNO
thisVersionURI=https://matthiasprobst.github.io/ssno/1.2.1
latestVersionURI=https://matthiasprobst.github.io/ssno/1.2.1
previousVersionURI=https://matthiasprobst.github.io/ssno/1.2.0
dateCreated=2024-04-02
dateModified=2024-08-20
dateIssued=2024-08-20
ontologyRevisionNumber=v1.2.1
licenseName=CC-BY 4.0 International
licenseURI=https://creativecommons.org/licenses/by/4.0/
# licenseIconURL=null
citeAs=Matthias Probst (https://orcid.org/0000-0001-8729-0482), Karlsruher Institute of Technology, Institute of Thermal Turbomachinery. ssno: A simple Standard Name Ontology. Revision: v1.2.1. Retrieved from: https://matthiasprobst.github.io/ssno/1.2.1
DOI=https://doi.org/10.5281/zenodo.10909130
status=Ontology Specification Draft
logo=
backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=Matthias Probst (https://orcid.org/0000-0001-8729-0482), Karlsruhe Institute of Technology, Institute of Thermal Turbomachinery
authorsURI=
authorsInstitution=
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=dcterms;foaf;owl;prov;qudt;rdf;rdfs;schema;skos;vann;xsd
importedOntologyURIs=http://purl.org/dc/terms/;http://xmlns.com/foaf/0.1/;http://www.w3.org/2002/07/owl#;http://www.w3.org/ns/prov#;http://qudt.org/schema/qudt/;http://www.w3.org/1999/02/22-rdf-syntax-ns#;http://www.w3.org/2000/01/rdf-schema#;https://schema.org/;http://www.w3.org/2004/02/skos/core#;http://purl.org/vocab/vann/;http://www.w3.org/2001/XMLSchema#
extendedOntologyNames=dcat;emmo;pims-ii;si;hdf5;m4i
extendedOntologyURIs=http://www.w3.org/ns/dcat#;http://emmo.info/emmo#;http://www.molmod.info/semantics/pims-ii.ttl#;https://www.ptb.de/si/SI_Format.xsd;http://purl.allotrope.org/ontologies/hdf5/1.8#;http://w3id.org/nfdi4ing/metadata4ing#
RDFXMLSerialization=ssno.owl
TurtleSerialization=ssno.ttl
NTSerialization=ssno.nt
JSONLDSerialization=ssno.jsonld
images=
source=
seeAlso=
fundingGrants=
funders=
description=Please refer to the Introduction and Abstract section.
abstract=This is an ontology draft for the usage of standard names as a simple way of describing complex data.<br>It is motivated by the <a href="http://cfconventions.org/" target="_blank">CF Conventions </a>, which introduced the concept of standard names originally. However, SSNO may (at this stage) not cover all aspects of the original, therefore it is called "simple". With this ontology, its usage shall be applicable to other research topics, too.<br><br>The ontology is still under development. Please feel free to participate in this ontology by posting problems or contributions in the <a href=https://github.com/matthiasprobst/ssno target="_blank">Git repository</a>.
introduction=The core idea is to provide the class <a href="https://matthiasprobst.github.io/ssno#StandardName">StandardName</a> and <a href="https://matthiasprobst.github.io/ssno#StandardName">StandardNameTable</a> with a minimal set of properties. A <a href="https://matthiasprobst.github.io/ssno#StandardName">StandardName</a> at its core is a simple string value, based on specific construction rules defined by its (standard name) table.<br>By enriching numerical data with a <a href="https://matthiasprobst.github.io/ssno#StandardName">StandardName</a>, complex information can be added by only using one attribute. An example of a such a name is "x_derivative_of_y_velocity". The name itself already suggests its meaning, however, a lookup in the respective standard name table would reveals the precise meaning (the name describes the derivative of the y-velocity w.r.t. the x-coordinate).<br><br>The rules of standard name construction is defined in a document associated with the <a href="https://matthiasprobst.github.io/ssno#StandardName">StandardNameTable</a>. The table contains all standard names defied by a project or community. Instances of <a href="https://matthiasprobst.github.io/ssno#StandardName">StandardName</a> and StandardNameTable can be used e.g. in combinations with other ontologies like <a href="https://nfdi4ing.pages.rwth-aachen.de/metadata4ing/metadata4ing/" target="_blank">metadata4ing</a> for a concise description of a numerical variable.<br><br>The below class diagram gives a quick overview of the central classes of the ontology. The ontology is still under development.<br><img alt="class diagram" src="https://github.com/matthiasprobst/ssno/blob/main/documentation/imgs/1.2.0/classdiagram.png?raw=true" height="300 px"><br><br>Standard names are intended to be used as attributes in HDF5 files or withing metadata describing a dcat:Dataset in general. To indicate which standard name table is used for the file a relation between the file and the standard name table can be established as shown below.<br><img alt="class diagram" src="https://github.com/matthiasprobst/ssno/blob/main/documentation/imgs/1.2.0/things_and_snt.png?raw=true" height="150 px">